<div class="bg-neutral-700 w-full p-3 rounded-lg">
  @if (dashboardAccountCardData$ | async; as data) {
  <div class="inline-flex items-center justify-between w-full font-oxanium font-semibold text-lg">
    <h2 class="mb-0">Compte</h2>
    <div [ngClass]="{
          'text-red-400': data.balance < 0,
          'text-green-400': data.balance >= 0
        }">
      <span class="mr-1">{{data.balance >= 0 ? '+' : ''}}{{data.balance | number:'1.2-2'}}</span>
      <span>€</span>
    </div>
  </div>
  <hr>
  @if (data.recentTransactions.length > 0) {
  <div class="w-full flex flex-col space-y-2">
    @for (transaction of data.recentTransactions; track transaction.id) {
    <app-transaction-line [transaction]="transaction"></app-transaction-line>
    }
    <app-card-link [link]="getAccountPath()">Voir toutes les transactions</app-card-link>
  </div>
  } @else {
  <div class="w-full inline-flex items-center justify-center py-4">
    <span class="italic font-oxanium font-semibold uppercase text-neutral-400">Aucunes transactions</span>
  </div>
  }
  } @else {
  <span class="italic font-oxanium font-semibold uppercase text-neutral-400">Chargement...</span>
  }
</div>
