<div class="flex flex-col items-center justify-center h-screen gap-8">
  <app-logo size="lg"></app-logo>
  <form class="flex flex-col w-80 mt-4" (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">

    <label for="loginUsername">Nom d'utilisateur</label>
    <div class="input-group">
      <input class="main" type="login" name="login" id="loginUsername" formControlName="login" required />
      @if (loginForm.get('login')?.invalid && loginForm.get('login')?.touched) {
      <app-input-error>Le nom d'utilisateur est requis.</app-input-error>
      }
    </div>
    <label for="loginPassword">Mot de passe</label>
    <div class="input-group">
      <input class="main" name="password" id="loginPassword" formControlName="password" required />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <app-input-error>Le mot de passe est requis.</app-input-error>
      }
    </div>
    <button class="primary" type="submit" [disabled]="loginForm.invalid"><lucide-icon [img]="LogIn"></lucide-icon>Se
      connecter</button>
  </form>
</div>
